backports.ssl-match-hostname==3.4.0.2
certifi==14.5.14
closure-linter==2.3.13
fdfgen==0.11.0
Flask==0.10.1
Flask-Cors==1.10.3
gnureadline==6.3.3
gunicorn==19.3.0
httplib2==0.9
ipython==2.2.0
itsdangerous==0.24
Jinja2==2.7.3
lxml==3.4.2
MarkupSafe==0.23
numpy==1.9.1
oauth2client==1.4.6
Pillow==2.7.0
pyasn1==0.1.7
pyasn1-modules==0.0.5
pydub==0.9.5
python-gflags==2.0
pyzmq==14.3.1
requests==1.1.0
rsa==3.1.4
simplejson==3.6.5
six==1.9.0
stevedore==0.15
tornado==4.0.2
uritemplate==0.6
virtualenv==12.0.7
virtualenv-clone==0.2.5
virtualenvwrapper==4.3
Werkzeug==0.10.1
